In [1]:
import sys
sys.path.append("..")

import pyadlml.dataset.kasteren as kasteren

In [2]:
sensorData = "/home/chris/code/adlml/datasets/kasteren/kasterenSenseData.txt"
activityData = "/home/chris/code/adlml/datasets/kasteren/kasterenActData.txt"

data = kasteren.load(sensorData, activityData)
print()

In [3]:
# print the dataframe

act = data.df_activities
act

                 start_time            end_time        activity
0   2008-02-25 19:40:26.000 2008-02-25 20:22:58  prepare Dinner
1   2008-02-25 20:23:12.000 2008-02-25 20:23:35       get drink
2   2008-02-25 21:51:29.000 2008-02-25 21:52:36      use toilet
3   2008-02-25 23:21:15.000 2008-02-25 23:28:30       go to bed
4   2008-02-25 23:28:30.001 2008-02-25 23:29:14      use toilet
..                      ...                 ...             ...
258 2008-03-21 09:42:28.000 2008-03-21 15:51:38     leave house
259 2008-03-21 15:51:58.000 2008-03-21 15:53:10      use toilet
260 2008-03-21 17:03:48.000 2008-03-21 18:05:18       go to bed
261 2008-03-21 18:24:24.000 2008-03-21 18:25:05      use toilet
262 2008-03-21 19:10:36.000 2008-03-23 19:04:58     leave house

[263 rows x 3 columns]

In [4]:
dev = data.df_devices
dev

device,Cups cupboard,Dishwasher,Freezer,Fridge,Frontdoor,Groceries Cupboard,Hall-Bathroom door,Hall-Bedroom door,Hall-Toilet door,Microwave,Pans Cupboard,Plates cupboard,ToiletFlush,Washingmachine
time,,,,,,,,,,,,,,
2008-02-25 00:20:14,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2008-02-25 00:22:57,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2008-02-25 09:33:41,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2008-02-25 09:33:42,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2008-02-25 09:33:47,False,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008-03-21 18:28:20,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2008-03-21 19:11:10,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2008-03-21 19:11:14,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2008-03-23 19:04:46,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2008-03-23 19:04:47,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
# creates raw data from the two dataframes
data.create_raw()
data.df_raw

device,Cups cupboard,Dishwasher,Freezer,Fridge,Frontdoor,Groceries Cupboard,Hall-Bathroom door,Hall-Bedroom door,Hall-Toilet door,Microwave,Pans Cupboard,Plates cupboard,ToiletFlush,Washingmachine,activity
time,,,,,,,,,,,,,,,
2008-02-25 00:20:14,False,False,False,False,False,False,False,True,False,False,False,False,False,False,NaN
2008-02-25 00:22:57,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN
2008-02-25 09:33:41,False,False,False,False,False,False,False,True,False,False,False,False,False,False,NaN
2008-02-25 09:33:42,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN
2008-02-25 09:33:47,False,False,False,False,False,False,False,True,False,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008-03-21 18:28:20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaT
2008-03-21 19:11:10,False,False,False,False,True,False,False,False,False,False,False,False,False,False,leave house
2008-03-21 19:11:14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,leave house
2008-03-23 19:04:46,False,False,False,False,True,False,False,False,False,False,False,False,False,False,leave house
2008-03-23 19:04:47,False,False,False,False,False,False,False,False,False,False,False,False,False,False,leave house

In [8]:
# slice from 'foo' to 'cat' by every 2nd column
data.df_raw.iloc[100:160, 10:15]

device,Pans Cupboard,Plates cupboard,ToiletFlush,Washingmachine,activity
time,,,,,
2008-02-25 19:36:17,False,False,False,False,NaT
2008-02-25 19:36:18,False,False,False,False,NaT
2008-02-25 19:40:27,False,False,False,False,prepare Dinner
2008-02-25 19:40:46,False,False,False,False,prepare Dinner
2008-02-25 19:40:47,False,False,False,False,prepare Dinner
2008-02-25 19:40:59,False,False,False,False,prepare Dinner
2008-02-25 19:41:00,False,False,False,False,prepare Dinner
2008-02-25 19:41:01,False,False,False,False,prepare Dinner
2008-02-25 19:41:03,False,False,False,False,prepare Dinner
2008-02-25 19:41:04,False,False,False,False,prepare Dinner
2008-02-25 19:41:09,False,False,False,False,prepare Dinner
2008-02-25 19:41:10,False,False,False,False,prepare Dinner
2008-02-25 19:41:23,False,False,False,False,prepare Dinner
2008-02-25 19:41:41,False,False,False,False,prepare Dinner
2008-02-25 19:41:42,False,False,False,False,prepare Dinner
2008-02-25 19:43:04,False,False,False,False,prepare Dinner
2008-02-25 19:47:03,False,False,False,False,prepare Dinner
2008-02-25 19:47:06,False,False,False,False,prepare Dinner
2008-02-25 19:54:10,False,True,False,False,prepare Dinner
2008-02-25 19:54:14,False,False,False,False,prepare Dinner
2008-02-25 19:56:00,True,False,False,False,prepare Dinner
2008-02-25 19:56:01,False,False,False,False,prepare Dinner
2008-02-25 19:56:03,True,False,False,False,prepare Dinner
2008-02-25 19:56:20,True,False,False,False,prepare Dinner
2008-02-25 19:56:21,True,False,False,False,prepare Dinner
2008-02-25 19:56:25,True,False,False,False,prepare Dinner
2008-02-25 19:56:31,True,False,False,False,prepare Dinner
2008-02-25 19:57:19,True,False,False,False,prepare Dinner
2008-02-25 19:57:35,True,False,False,False,prepare Dinner
2008-02-25 20:00:33,True,False,False,False,prepare Dinner
2008-02-25 20:00:36,True,False,False,False,prepare Dinner
2008-02-25 20:00:50,True,False,False,False,prepare Dinner
2008-02-25 20:00:52,True,False,False,False,prepare Dinner
2008-02-25 20:01:46,True,False,False,False,prepare Dinner
2008-02-25 20:01:49,True,False,False,False,prepare Dinner
2008-02-25 20:01:56,True,True,False,False,prepare Dinner
2008-02-25 20:01:58,True,False,False,False,prepare Dinner
2008-02-25 20:04:20,True,False,False,False,prepare Dinner
2008-02-25 20:04:21,True,False,False,False,prepare Dinner
2008-02-25 20:04:46,True,False,False,False,prepare Dinner
2008-02-25 20:10:43,True,False,False,False,prepare Dinner
2008-02-25 20:10:44,True,False,False,False,prepare Dinner
2008-02-25 20:10:45,True,False,False,False,prepare Dinner
2008-02-25 20:18:03,True,False,False,False,prepare Dinner
2008-02-25 20:18:04,True,False,False,False,prepare Dinner
2008-02-25 20:19:49,True,True,False,False,prepare Dinner
2008-02-25 20:19:57,True,False,False,False,prepare Dinner
2008-02-25 20:20:29,True,False,False,False,prepare Dinner
2008-02-25 20:20:33,True,False,False,False,prepare Dinner
2008-02-25 20:23:14,True,False,False,False,get drink
2008-02-25 20:23:17,True,False,False,False,get drink
2008-02-25 20:23:32,True,False,False,False,get drink
2008-02-25 20:23:36,True,False,False,False,NaT
2008-02-25 21:08:49,True,False,False,False,NaT
2008-02-25 21:08:50,True,False,False,False,NaT
2008-02-25 21:08:51,True,False,False,False,NaT
2008-02-25 21:08:52,True,False,False,False,NaT
2008-02-25 21:45:40,True,False,False,False,NaT
2008-02-25 21:45:44,True,False,False,False,NaT
2008-02-25 21:51:32,True,False,False,False,use toilet

In [7]:
# creates sequential data from the raw dataframe
data.createSequential()
data.df_seq

# convertes sequential data into the last fired representation
data.conv2lastFired()
data.df_lf

# convertes sequential data into the last fired representation
data.conv2Changed()
data.df_ch

AttributeError: 'Data' object has no attribute 'createSequential'